<p>The Konnect Project gathers post-secondary students in the Greater Toronto Area to work on creating amazing 
programs for high school students. This year, with a strong emphasis on creative thinking and problem solving,
we will be discussing the most pressing needs of Korean Canadian high school students, and the tools they need 
in order to prepare for the upcoming challenges of the 21st century. Through working with Konnect, we promote 
growth by working on projects and engaging in deep discussions with other inspirational individuals. Please see
our <a href="http://www.youtube.com/user/konnectleaders">Youtube Channel</a> for more!</p>

