<p>The Konnect Project gathers post-secondary students in the Greater Toronto Area to work on creating amazing 
programs for high school students. This year, with a strong emphasis on creative thinking and problem solving,
we will be discussing the most pressing needs of Korean Canadian high school students, and the tools they need 
in order to prepare for the upcoming challenges of the 21st century. Through working with Konnect, we promote 
growth by working on projects and engaging in deep discussions with other inspirational individuals. Please see
our <a href="http://www.youtube.com/user/konnectleaders">Youtube Channel</a> for more!</p>
<table cellpadding=10>
  <tr>
    <td width=50% valign=top align=left>
      <p><strong>OBJECTIVE</strong></p>
      <p>The primary objective of the Konnect Project is to connect different generations of the Korean-Canadian community, including working professionals, university students, and high school students, in order to share the knowledge and experience of one generation with another. </p>
      <p>Through this process, the individuals involved in the enterprise are able to participate in rich discussions on topics including the challenges faced by Korean-Canadian professionals in the workforce and possible approaches to overcoming them as a community. All members also participate in frequent brainstorming sessions which help develop communication skills, engage critical thinking skills, exercise creativity, and encourage a risk-taking attitude.</p>
    </td>
    <td width=50% valign=top align=left>
      <p><strong>INVOLVEMENT</strong></p>
      <p>As a Konnect Project Leader, you will have a chance to organize and execute projects directed toward Korean-Canadian high school students. These projects will be in the form of <i>workshops</i> and a <i>retreat</i>. Workshops will consist of short, one-day sessions, with an emphasis on learning and personal development whereas the retreat will be longer, focusing on networking and building bonds between Konnect Project Leaders and high school students.
      <p>
      You will be involved in discussing what you believe to be the greatest needs of the Korean-Canadian community as a whole and use the product of these discussions to plan and produce workshops that will benefit the high school students. Furthermore, you will be given the opportunity to work on all aspects of content preparation involved in launching a successful event, including but not limited to logistics, marketing, and execution, with experienced advisers from the Student Development Committee (SDC) available to offer advice whenever you seek it. 
      </p>
    </td>
  </tr>
  <center>
    <object width="825" height="464"><param name="movie" value="http://www.youtube.com/v/_VSjI0Gh3Bk?version=3&amp;hl=en_US&amp;rel=0&amp;start=90"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_VSjI0Gh3Bk?version=3&amp;hl=en_US&amp;rel=0&amp;start=90" type="application/x-shockwave-flash" width="825" height="464" allowscriptaccess="always" allowfullscreen="true"></embed></object>
  </center>
</table>
